Repository DXgovernance/DAVI, pull requests merged in 2022-08, with the labels that each got.

#187 Fix/dev scipt breaking permissionregistry
  scripts/dev.ts
  src/bytecodes/config.json
  src/utils/constants.ts
  yarn.lock
Labels: bug

#181 feat: Add Diff View component.
  .storybook/preview.js
  package.json
  src/Components/ActionsBuilder/DiffView/DiffView.stories.tsx
  src/Components/ActionsBuilder/DiffView/DiffView.styled.tsx
  src/Components/ActionsBuilder/DiffView/DiffView.test.tsx
  src/Components/ActionsBuilder/DiffView/DiffView.tsx
  src/Components/ActionsBuilder/DiffView/__snapshots__/DiffView.test.tsx.snap
  src/Components/ActionsBuilder/DiffView/fixtures.ts
  src/Components/ActionsBuilder/DiffView/index.tsx
  src/Components/ActionsBuilder/DiffView/syntax.css
  src/Components/ActionsBuilder/SupportedActions/UpdateENSContent/UpdateENSContentSummary.tsx
  src/Components/ActionsBuilder/SupportedActions/UpdateENSContent/__snapshots__/UpdateENSContentEditor.test.tsx.snap
  src/Components/ActionsBuilder/SupportedActions/UpdateENSContent/__snapshots__/UpdateENSContentInfoLine.test.tsx.snap
  src/Components/ActionsBuilder/SupportedActions/UpdateENSContent/styles.tsx
  src/Components/ActionsBuilder/SupportedActions/UpdateENSContent/utils.ts
  src/Components/ActionsModal/__snapshots__/ActionsModal.test.tsx.snap
  src/Components/ProposalCard/ProposalCardWinningOption/__snapshots__/ProposalCardWinningOption.test.tsx.snap
  src/Components/theme.tsx
  src/bytecodes/config.json
  src/hooks/Guilds/ipfs/useIPFSFileMetadata.ts
  src/locales/en/translation.json
  src/theme/GlobalTheme.ts
  src/theme/dark.json
  yarn.lock
Labels: Action Builder

#218 feat(TokenPicker): Implement native token support.
  src/Components/ActionsBuilder/Action/Action.styled.tsx
  src/Components/ActionsBuilder/Action/Action.tsx
  src/Components/ActionsBuilder/CallDetails/CallDetails.styled.tsx
  src/Components/ActionsBuilder/CallDetails/CallDetails.tsx
  src/Components/ActionsBuilder/CallDetails/__snapshots__/CallDetails.test.tsx.snap
  src/Components/ActionsBuilder/SupportedActions/ERC20Transfer/ERC20TransferEditor.tsx
  src/Components/ActionsBuilder/SupportedActions/ERC20Transfer/ERC20TransferInfoLine.test.tsx
  src/Components/ActionsBuilder/SupportedActions/ERC20Transfer/ERC20TransferInfoLine.tsx
  src/Components/ActionsBuilder/SupportedActions/ERC20Transfer/__snapshots__/ERC20TransferEditor.test.tsx.snap
  src/Components/ActionsBuilder/SupportedActions/ERC20Transfer/validateERC20Transfer.ts
  src/Components/ActionsBuilder/SupportedActions/SetPermissions/SetPermissionsEditor.test.tsx
  src/Components/ActionsBuilder/SupportedActions/SetPermissions/SetPermissionsEditor.tsx
  src/Components/ActionsBuilder/SupportedActions/UpdateENSContent/__snapshots__/UpdateENSContentSummary.test.tsx.snap
  src/Components/ActionsBuilder/SupportedActions/common/Summary.styled.tsx
  src/Components/ActionsBuilder/SupportedActions/common/Summary.tsx
  src/Components/ActionsBuilder/SupportedActions/index.tsx
  src/Components/ActionsBuilder/types.ts
  src/Components/ActionsModal/components/ApproveSpendTokens/ApproveSpendTokens.tsx
  src/Components/Filter/Filter.test.tsx
  src/Components/Filter/__snapshots__/Filter.test.tsx.snap
  src/Components/ProposalCard/ProposalCard.test.tsx
  src/Components/ProposalCard/ProposalCardWinningOption/ProposalCardWinningOption.test.tsx
  src/Components/TokenPicker/TokenPicker.tsx
  src/Components/TokenPicker/types.ts
  src/hooks/Guilds/contracts/useDecodedCall.ts
  src/hooks/Guilds/contracts/useEncodedCall.ts
  src/hooks/Guilds/ether-swr/erc20/useAllERC20Balances.ts
  src/hooks/Guilds/tokens/useTokenList.ts
  src/locales/en/translation.json
Labels: enhancement, Action Builder
